# Environment variables
.env
*.env

# Python cache & venv
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/

# Databases
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log
